* section{
  margin: 1%;
  padding:1%;
  box-sizing: 0px;
}

h1 {
   height:20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


section h3 {
   height: 0%;
}
.card{
   display: flex;
}
.sedibar{background-color: rgb(65, 139, 223);

}